div.card5 {
  display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(to right, white, #171717);
    height: 450px;
      margin: auto;
      margin-bottom: 0;
      text-align: left;
      width: 100%;
      border-radius: 50px 50px 0 0;
      padding-bottom: 200px;
    }

    .card5-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      background-color: white;
      border-radius: 50px 0 0 0;
    }

    .card5-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      flex: 1;
      background-color: #171717;
      color: white;
      border-radius: 0 50px 0 0;

    }
    .card5 h2{
      font-size: 31px;
      font-weight: 400;
      margin-left: 10%;
    }
    .card5 p{
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 30px;
      line-height: 1.5;

    }
  
    