div.card9 {
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 520px;
    margin: auto;
    width: 100%;
    padding-bottom: 200px;
    
  }
  .card9-column-left {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 50px 0 0 0;
  
  }
  
  .card9-column-left img {
    width: 100px;
    height: 110px;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .card9-column-right {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 0 50px 0 0;
    padding-top: 60px;
  }
  
  .card9-column-right img {
    width: 100px;
    height: 110px;
    max-width: 30%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  
  .card9 h2 {
    font-size: 29px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .card9 p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    max-width: 80%;
  }
  
  .card9-column-left,
  .card9-column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }



  @media (max-width: 768px) {
    .card9 {
      flex-direction: column; /* Stack .card9-column-left above .card9-column-right */
      height: auto; /* Adjust height based on content */
    }
  
    .card9-column-left, .card9-column-right {
      width: 100%; /* Full width for both columns on mobile */
      text-align: center;
      padding: 20px;
    }
  
    .card9-column-left {
      border-radius: 50px 50px 0 0; /* Rounded corners for the top section */
      padding: 0;
      padding-bottom: 40px;
    }
  
    div.card9-column-left h2{
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  
    .card9-column-right {
      padding: 0;
      border-radius: 0 0 0 0; /* Rounded corners for the bottom section */
      padding-bottom: 80px;
    }
  
    div.card9-column-right h2{
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  
    .card9-column-left img,
    .card9-column-right img {
      max-width: 45px; /* Adjust image size for mobile */
      height: auto;
      margin-bottom: 10px;
      margin-top: 20px;
    }
  
    .card9 h2 {
      font-size: 24px; /* Adjust heading size for mobile */
    }
  
    .card9 p {
      font-size: 13px; /* Adjust paragraph size for mobile */
      margin-top: 15px;
      margin-left: 8px;
      margin-right: 8px;
      max-width: 100%;
      }
  }
  