div.yellowcard {
    display: flex;
    background-color: #FBBF24;
    height: 450px;
    margin: auto;
    margin-bottom: 0;
    text-align: left;
    width: 100%;
    border-radius: 50px 50px 0 0;
    padding-bottom: 200px;
  }

    
  
  .teammembers-container {
    background-color: #fbbf24;
    padding: 50px 0 50px 0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100vw;
    padding-top: 0px;
    margin-top: -1300px;
  }
  
  .team-title {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
  }
  
  .team-member {
    width: 150px;
    text-align: center;
    color: #333;
  }
    
  .team-member-big {
    width: 195px;
    text-align: center;
    color: #333;
  }

  .team-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #e0e0e0; /* Placeholder for the image */
  }
  
  .team-member-name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .team-member-role {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .team-member-name-big {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .team-member-role-big {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .linkedin-link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
  }
  








  @media (max-width: 768px) {
    .card8 {
      display: flex;
      flex-direction: column; /* Stack the elements vertically */
      height: auto; /* Let the height adjust based on content */
      padding-bottom: 30px; /* Adjust padding for mobile */
    }

    div.card8{
        background-color: #FBBF24;
    }


  }
  
  