/** {
  box-sizing: border-box;
} Esto rompe el css de la pagina*/

img,
frame,
video {
  max-width: 100%;
  height: auto;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 100px;
  padding-left: 60px;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 50px;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

.rows-container {
  display: flex;
  flex-direction: column;
}

.time-tape {
  width: 250px;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  flex-direction: row;
  width: "60%";
  margin-top: 100px;
}

.tape-number {
  margin-left: -200px;
  margin-right: 60px;
  font-size: 70px;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.row-title {
  margin: 10px 0;
  font-size: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #fcd34d;
}

.big-image {
  width: 300px;
  height: 375px;
}

.text-container {
  max-width: 450px;
  margin: 0 30px;
}

.text-container p {
  color: #0a0a0a;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.medium-image {
  width: 100px;
  height: 100px;
  margin-left: -30px;
  align-self: center;
}

.bold {
  font-weight: bold !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
  height: 350px;
}

.yellow-borders-figure {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 100px;
  height: 350px;
  border-style: solid;
  border-width: 5px 5px 5px 0px;
  border-color: #fde68a;
  z-index: -1;
}

.center {
  align-self: center;
}

.secondary-text {
  color: #737373 !important;
  font-size: 16px;
  font-style: italic;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
}
.figure-text {
  max-width: 350px;
  margin-left: 50px;
}

.justify-center {
  justify-content: center;
}

.member-image {
  width: 115px;
  height: 150px;
  margin: 5px 10px;
}

.expansion-image {
  width: 175px;
  height: 250px;
  margin-right: 5px;
}

.my-2 {
  margin: 40px 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.ml-3 {
  margin-left: 60px;
}

.w-auto {
  width: auto;
}

.w-50 {
  width: 50%;
}

/* Mobile version styles */

@media (max-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .item {
    margin-top: 20%;
    flex-direction: column;
    padding: 0 7.5%;
  }

  .subtitle {
    margin: 0;
    margin-top: 25%;
  }

  .tape-number {
    display: none;
  }

  .time-tape {
    width: 102.5px;
    height: 103.5%;
    margin-top: -20%;
  }

  .content {
    align-items: flex-start;
  }

  .big-image {
    width: 100%;
    height: auto;
  }

  .text-container {
    max-width: "100%";
    margin: 0;
  }

  .text-container p {
    line-height: 1.35;
  }

  .yellow-borders-figure {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 100px;
    height: 275px;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-color: #fde68a;
    z-index: -1;
  }

  .figure-text {
    max-width: auto;
    margin: 0;
    margin-top: 25%;
    text-align: left;
  }

  .medium-image {
    width: 100px;
    height: 100px;
    margin-left: 2.5px;
    align-self: flex-start;
  }

  .member-image {
    width: 75px;
    height: 100px;
    margin: 0;
    margin-right: 10px;
  }

  .row-title {
    margin: 10px 0;
    font-size: 32px;
    color: #fcd34d;
  }

  .my-2 {
    margin: 30px 0;
  }

  .expansion-image {
    width: 125px;
    height: 175px;
    margin-right: 5px;
  }
}
