/* Home.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Keep horizontal scrollbar hidden */
}

.home {
  display: flex;
  flex-direction: column; /* Arrange in a single column */
  align-items: center; /* Center content horizontally */
  height: 100vh;
  background-color: white;
  padding: 20px;
}

img, 
video,
iframe {
    max-width: 100%;
    height: auto;
}

.mainContent {
  width: 100%;
  max-width: 1200px;
}

.logoRow {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
  margin-left: 100px;
  margin-top: 100px;
}

.logo {
  height: 70px;
}

.contentRow {
  margin-top: -100px;
  display: flex;
  justify-content: space-between; /* Align text and illustration side by side */
  align-items: center;
  height: 80vh;
}

.textContent {
  flex: 1; /* Takes up available space */
  font-size: 39px;
  line-height: 1.2;
  width: 60%;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 100px;
}

.textContent span {
  color: #fcd34d; /* Highlight color */
}

.text-with-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.illustration {
  width: 40%;
  display: flex;
  justify-content: center; /* Center illustration */
  align-items: center;
  margin-top: -90px;
}

.illustration img {
  height: 85vh;
}

.home-container2{
  width: 100vw;
  min-height: 4100px;
  background-color: #FBBF24;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 900px;
  border-radius: 0 0 50px 50px;
  margin-top: -105px;
}





  .home-right{
    width: 90%;
    border-radius: 50px;
    margin-top: -3500px;
  
  }
  
  
  .home-stacking-slide {
    height: 450px;
    width: 100%;
    position: sticky;
    top: 0;
  
  
     &:nth-last-child(1) {
        height: 100vh;
     }
  }

  .home-final-title{
    z-index: 4;
    background-color: transparent;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FCD34D;
    font-size: 50px;
    font-weight: 500;
    margin-top: -800px;
  }
  



  .teammembers-container {
    background-color: #fbbf24;
    padding: 50px 0 50px 0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100vw;
    padding-top: 400px;
  }
  
  .team-title {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
  }
  
  .team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
  }
  
  .team-member {
    width: 150px;
    text-align: center;
    color: #333;
  }
    
  .team-member-big {
    width: 195px;
    text-align: center;
    color: #333;
  }

  .team-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #e0e0e0; /* Placeholder for the image */
  }
  
  .team-member-name {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .team-member-role {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .team-member-name-big {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .team-member-role-big {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .linkedin-link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
  }
  































































@media (max-width: 768px) {
  .home {
    overflow-x: hidden;
  }

  .home-stacking-slide {
    height: 600px;
  }

  .home-right{
    margin-top: -3150px;
    width: 95%;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-width: 100%;
    padding-top: 100px;
  }

  .logoRow {
    margin-left: 0;
  }

  .textContent {
    flex: 0;
    width: 'auto';
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-wrap: nowrap;
    text-align: left;
  }

  .mt-4 {
    margin: 0;
    margin-top: 36px;
  }

  .mt-2 {
    margin: 0;
    margin-top: 18px;
  }

  .illustration img {
    height: 60vh;
  }

  .illustration {
    flex: 0;
    width: 25vw;
    padding-left: 50px;
  }

  .mobile-grid {
    display: grid;
    flex-direction: row;
  }

  .mobile-row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .logo-mobile {
    width: 30vw;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .highlighted-text {
    padding: 0;
    margin: 0;
    font-size: 48px;
    color: #fcd34d;
  }

  h2.home-final-title{
    font-size: 45px;
    font-weight: 500;
    margin-top: -350px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .teammembers-container {
    padding-top: 200px;
  }

}
