.footer {
  padding: 2rem 4rem;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
  gap: 2rem; /* Add some space between the sections */
  margin-bottom: 4rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.logo-section {
  width: 40%;
  margin-left: -3vw;
  margin-top: -40px;
}

.logo-section img {
  max-width: 330px;
  min-width: 300px;
  width: 65%;
  height: auto;
}

.footer-navigation {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: -20px;
}

.footer-navigation a {
  text-decoration: none;
  color: black;
}

.footer-navigation a.active {
  color: #fbbf24;
}

.contact-info {
  text-align: left;
  line-height: 1.5;
}

.linkedin-container {
  display: block;
  margin-top: -100px;
  align-self: center;
}

.linkedin-link {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.linkedin-link:hover {
  color: #0077b5; /* Optional: change color on hover */
}

.copyright {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  color: #a3a3a3;
  font-size: 0.9rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-end {
  align-items: flex-end;
}

@media (max-width: 768px) {
  footer {
    width: 100%;
    margin-top: 20%;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .linkedin-container {
    display: none;
  }

  .row {
    justify-content: flex-start;
  }

  .footer-navigation {
    align-content: flex-start;
    margin-left: -10%;
    margin-right: 25%;
    padding-bottom: 10%;
  }

  .logo-section {
    margin-left: -10%;
  }
}
